In [1]:
import requests

headers = {
    'Authorization': 'al7739s:tWtx4UYhTdUbPHumX3VixMhdi',
    'Content-Type': 'application/json',
}

data = '{"query":"SELECT * FROM dfs.co2meter.sensor_data limit 10", "format":"json"}'

response = requests.post('https://proxima.bigdata.fh-aachen.de:8047/query', headers=headers, data=data)
print(response.status_code)

200

In [2]:
print(response.json())

{'measurement_count': {'0': 67060, '1': 66879, '2': 350130, '3': 514810, '4': 40226, '5': 716518, '6': 40220, '7': 67061, '8': 350131, '9': 350132}, 'serial_number': {'0': 's_8caab57cc961_284337', '1': 's_10521c01cf19_262520', '2': 's_8caab57a6dd9_288065', '3': 's_d8bfc014724e_262793', '4': 's_8caab57c3e19_282028', '5': 's_e8db84c5f771_300390', '6': 's_3c6105d3abae_299589', '7': 's_8caab57cc961_284337', '8': 's_8caab57a6dd9_288065', '9': 's_8caab57a6dd9_288065'}, 'version': {'0': '1.0.0', '1': '1.0.0', '2': '0.9.8', '3': '0.9.27', '4': '1.0.0', '5': '0.9.27', '6': '1.0.0', '7': '1.0.0', '8': '0.9.8', '9': '0.9.8'}, 'co2_ppm': {'0': 418, '1': 441, '2': 569, '3': 355, '4': 664, '5': 396, '6': 696, '7': 418, '8': 569, '9': 569}, 'temperature_celsius': {'0': 24.0, '1': 24.0, '2': 21.0, '3': 20.0, '4': 22.0, '5': 23.0, '6': 23.0, '7': 24.0, '8': 21.0, '9': 21.0}, 'relative_humidity_percent': {'0': 47.0, '1': 48.0, '2': 65.0, '3': 65.0, '4': 59.0, '5': 54.0, '6': 54.0, '7': 47.0, '8': 65.0, '9': 65.0}, 'timestamp': {'0': 1622937600, '1': 1622937601, '2': 1622937601, '3': 1622937601, '4': 1622937602, '5': 1622937602, '6': 1622937604, '7': 1622937605, '8': 1622937606, '9': 1622937611}}

In [3]:
#import findspark
#findspark.init()

#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName('Basics').getOrCreate()

import json
with open('data.json', 'w') as outfile:
    json.dump(response.json(), outfile)


import pandas as pd
df = pd.read_json('data.json')

In [4]:
df

,measurement_count,serial_number,version,co2_ppm,temperature_celsius,relative_humidity_percent,timestamp
0,67060,s_8caab57cc961_284337,1.0.0,418,24,47,2021-06-06 00:00:00
1,66879,s_10521c01cf19_262520,1.0.0,441,24,48,2021-06-06 00:00:01
2,350130,s_8caab57a6dd9_288065,0.9.8,569,21,65,2021-06-06 00:00:01
3,514810,s_d8bfc014724e_262793,0.9.27,355,20,65,2021-06-06 00:00:01
4,40226,s_8caab57c3e19_282028,1.0.0,664,22,59,2021-06-06 00:00:02
5,716518,s_e8db84c5f771_300390,0.9.27,396,23,54,2021-06-06 00:00:02
6,40220,s_3c6105d3abae_299589,1.0.0,696,23,54,2021-06-06 00:00:04
7,67061,s_8caab57cc961_284337,1.0.0,418,24,47,2021-06-06 00:00:05
8,350131,s_8caab57a6dd9_288065,0.9.8,569,21,65,2021-06-06 00:00:06
9,350132,s_8caab57a6dd9_288065,0.9.8,569,21,65,2021-06-06 00:00:11

In [5]:
selectedData = df[['measurement_count', 'co2_ppm','temperature_celsius', 'relative_humidity_percent', 'timestamp']]
cols = ['measurement_count', 'co2_ppm','temperature_celsius', 'relative_humidity_percent', 'timestamp']
dataSet = selectedData[cols]

In [6]:
dataSet

,measurement_count,co2_ppm,temperature_celsius,relative_humidity_percent,timestamp
0,67060,418,24,47,2021-06-06 00:00:00
1,66879,441,24,48,2021-06-06 00:00:01
2,350130,569,21,65,2021-06-06 00:00:01
3,514810,355,20,65,2021-06-06 00:00:01
4,40226,664,22,59,2021-06-06 00:00:02
5,716518,396,23,54,2021-06-06 00:00:02
6,40220,696,23,54,2021-06-06 00:00:04
7,67061,418,24,47,2021-06-06 00:00:05
8,350131,569,21,65,2021-06-06 00:00:06
9,350132,569,21,65,2021-06-06 00:00:11

In [7]:
values = df['co2_ppm']

In [8]:
for x in values:
  print(x)

418
441
569
355
664
396
696
418
569
569